<div class="card mt-5">
  <div class="card-header bg-dark">
    <h2 class="text-white">Detail District</h2>
  </div>
  <div class="card-body">
    <div class="form-group mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" class="form-control" placeholder="Enter Nom District" id="nom" [(ngModel)]="district.nom"
        name="nom" required disabled>
    </div>
  </div>
  <div class="card-footer border-top d-flex bg-white py-3">
    <button type="button" class="btn btn-danger" (click)="goToDistrictList()">Retourner</button>
  </div>
</div>
